:root {
    --cor--principal: #d6b59d;
    --cor--secundaria: #213555f4;
    --cor--terciaria: #4F709C;
    --cor--hover: #F5EFE7;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor--secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.8%;
}

.cabecalho {
    background-color: var(--cor--principal);
    width: 60%;
    height: 4.8rem;
    padding-left: 2%;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}   

section {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__home {
    width: 16%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: var(--cor--terciaria);
    font-weight: bold;
    display: flex;
    /* align-items: center; */
    text-decoration: none;
}
.cabecalho__home:hover {
    color: var(--cor--hover);
    cursor: pointer;
    font-size: 1.2rem;
}
.cabecalho__sobremim {
    width: 28%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: var(--cor--terciaria);
    font-weight: bold;
    display: flex;
    /* align-items: center; */
    text-decoration: none;
}
.cabecalho__sobremim:hover {
    color: var(--cor--hover);
    cursor: pointer;
    font-size: 1.2rem;
}
.cabecalho__cert {
    width: 38%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: var(--cor--terciaria);
    font-weight: bold;
    display: flex;
    /* align-items: center; */
    text-decoration: none;
}
.cabecalho__cert:hover {
    color: var(--cor--hover);
    cursor: pointer;
    font-size: 1.2rem;
}

.conteudo {
    background-color: var(--cor--principal);
    color: var(--cor--hover);
    margin: 3%;
    padding-bottom: 1rem;
    width: 65%;
    border-radius: 15px;
}

.aba {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.aba__titulo {
    font-size: 1.3rem;
    font-weight: lighter;
    font-family: 'Segoe UI', Verdana, sans-serif;
    margin: 1%;
    padding: 2%;
}

.link_cert {
    display: flex;
    justify-content: center;
    padding: 0 1rem;    
}

.aba__certificados {
    display: flex;
}

.img_cert {
    border-radius: 5px;
    width: 12rem;
}

.rodape {
    background-color: var(--cor--principal);
    width: 100%;
    color: var(--cor--terciaria);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.rodape__infos {
    display: flex;
    justify-content: center;
    gap: 25%;
    padding-top: 1%;
    font-size: 1.2rem;
}

.rodape__infos__links {
    text-decoration: none;
    color: var(--cor--terciaria);  
}

.rodape__infos__links:hover {
    color: var(--cor--hover);
    cursor: pointer;  
    text-decoration: underline;
}

.rodape__fim {
    padding: 0.5%;
}   

@media (max-width: 1200px) {
    .cabecalho {
        width: 60%;
        padding: 0;
        justify-content: center;
    }
    section {
        justify-content: center;
    }
}