:root {
    --cor--principal: #d6b59d;
    --cor--secundaria: #213555f4;
    --cor--terciaria: #4F709C;
    --cor--hover: #F5EFE7;
}

body {
    background-color: var(--cor--secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho {
    background-color: var(--cor--principal);
    width: 850px;
    height: 70px;
    padding-left: 1.2%;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}   

section {
    display: flex;
    gap: 10%;
}

.cabecalho__links {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--cor--terciaria);
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 2%;
}

.cabecalho__redes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--cor--terciaria);
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 5%;
}

.cabecalho__redes:hover {
    color: var(--cor--hover);
    font-size: 17px;
    border-radius: 15px;
    cursor: pointer; 
}

.cabecalho__links:hover {
    color: var(--cor--hover);
    font-size: 17px;
    border-radius: 15px;
    cursor: pointer;
}

.conteudo {
    margin: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.conteudo__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.conteudo__info__titulo {
    color: var(--cor--principal);
    font-size: 28px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.conteudo__info__texto {
    color: var(--cor--hover);
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.rodape {
    background-color: var(--cor--principal);
    width: 100%;
    color: var(--cor--terciaria);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.rodape__infos {
    display: flex;
    justify-content: center;
    gap: 50%;
    padding-top: 1%;
    font-size: 20px;
}

.rodape__infos__links {
    text-decoration: none;
    color: var(--cor--terciaria);  
}

.rodape__infos__links:hover {
    color: var(--cor--hover);
    cursor: pointer;  
    text-decoration: underline;
}

.rodape__fim {
    padding: 0.5%;
}

img {
    height: 300px;
    border-radius: 15px;
}